In [1]:
import pandas as pd
import glob

### Dim Table

In [2]:
# List all Parquet files in folder
files_dim = glob.glob("dim_table/*.parquet")
files_dim

['dim_table\\part-00000-8f3abeb0-ba1e-4467-908b-b4c59a684cd4-c000.snappy.parquet',
 'dim_table\\part-00001-8f3abeb0-ba1e-4467-908b-b4c59a684cd4-c000.snappy.parquet',
 'dim_table\\part-00002-8f3abeb0-ba1e-4467-908b-b4c59a684cd4-c000.snappy.parquet']

In [3]:
# Read and concatenate them
df_dim = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files_dim], ignore_index=True)
df_dim.head()

,PROVIDER_NUM,PROVIDER_NAME,PROVIDER_TYPE,STATE,CITY_TOWN,ZIP_CODE,NUMBER_OF_CERTIFIED_BEDS,AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY,AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY_FOOTNOTE,REPORTED_NURSE_AIDE_STAFFING_HOURS_PER_RESIDENT_PER_DAY,...,REPORTED_TOTAL_NURSE_STAFFING_HOURS_PER_RESIDENT_PER_DAY,TOTAL_NUMBER_OF_NURSE_STAFF_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND,REGISTERED_NURSE_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND,REPORTED_PHYSICAL_THERAPIST_STAFFING_HOURS_PER_RESIDENT_PER_DAY,TOTAL_NURSING_STAFF_TURNOVER,TOTAL_NURSING_STAFF_TURNOVER_FOOTNOTE,REGISTERED_NURSE_TURNOVER,REGISTERED_NURSE_TURNOVER_FOOTNOTE,NUMBER_OF_ADMINISTRATORS_WHO_HAVE_LEFT_THE_NURSING_HOME,ADMINISTRATOR_TURNOVER_FOOTNOTE
0,015009,"BURNS NURSING HOME, INC.",Medicare and Medicaid,AL,RUSSELLVILLE,35653,57,53.3,NaN,2.58352,...,4.29361,3.30871,0.76957,0.01578,36.2,NaN,18.2,NaN,3.0,NaN
1,015010,COOSA VALLEY HEALTHCARE CENTER,Medicare and Medicaid,AL,SYLACAUGA,35150,85,77.5,NaN,2.68476,...,4.31127,3.37481,0.31110,0.00798,NaN,6.0,NaN,6.0,0.0,NaN
2,015012,HIGHLANDS HEALTH AND REHAB,Medicare and Medicaid,AL,SCOTTSBORO,35768,50,44.4,NaN,3.13302,...,4.98828,4.30958,0.50945,0.04237,NaN,6.0,NaN,6.0,NaN,6.0
3,015014,EASTVIEW REHABILITATION & HEALTHCARE CENTER,Medicare and Medicaid,AL,BIRMINGHAM,35206,92,72.8,NaN,1.94470,...,3.29976,2.82980,0.47988,0.00946,NaN,6.0,NaN,6.0,NaN,6.0
4,015015,PLANTATION MANOR NURSING HOME,Medicare and Medicaid,AL,MC CALLA,35111,103,91.8,NaN,1.99844,...,3.28113,3.19540,0.20353,0.01481,31.3,NaN,25.0,NaN,1.0,NaN

In [4]:
# Check basic info
df_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14814 entries, 0 to 14813
Data columns (total 23 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   PROVIDER_NUM                                                           14814 non-null  object
 1   PROVIDER_NAME                                                          14814 non-null  object
 2   PROVIDER_TYPE                                                          14814 non-null  object
 3   STATE                                                                  14814 non-null  object
 4   CITY_TOWN                                                              14814 non-null  object
 5   ZIP_CODE                                                               14814 non-null  int32
 6   NUMBER_OF_CERTIFIED_BEDS                                               14814 non-null  int32
 7   AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY                                    14766 non-null  float64
 8   AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY_FOOTNOTE                           48 non-null     float64
 9   REPORTED_NURSE_AIDE_STAFFING_HOURS_PER_RESIDENT_PER_DAY                14428 non-null  float64
 10  REPORTED_LPN_STAFFING_HOURS_PER_RESIDENT_PER_DAY                       14428 non-null  float64
 11  REPORTED_RN_STAFFING_HOURS_PER_RESIDENT_PER_DAY                        14428 non-null  float64
 12  REPORTED_LICENSED_STAFFING_HOURS_PER_RESIDENT_PER_DAY                  14428 non-null  float64
 13  REPORTED_TOTAL_NURSE_STAFFING_HOURS_PER_RESIDENT_PER_DAY               14428 non-null  float64
 14  TOTAL_NUMBER_OF_NURSE_STAFF_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND  14428 non-null  float64
 15  REGISTERED_NURSE_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND             14428 non-null  float64
 16  REPORTED_PHYSICAL_THERAPIST_STAFFING_HOURS_PER_RESIDENT_PER_DAY        14428 non-null  float64
 17  TOTAL_NURSING_STAFF_TURNOVER                                           13341 non-null  float64
 18  TOTAL_NURSING_STAFF_TURNOVER_FOOTNOTE                                  1473 non-null   float64
 19  REGISTERED_NURSE_TURNOVER                                              12347 non-null  float64
 20  REGISTERED_NURSE_TURNOVER_FOOTNOTE                                     2467 non-null   float64
 21  NUMBER_OF_ADMINISTRATORS_WHO_HAVE_LEFT_THE_NURSING_HOME                12430 non-null  float64
 22  ADMINISTRATOR_TURNOVER_FOOTNOTE                                        2384 non-null   float64
dtypes: float64(16), int32(2), object(5)
memory usage: 2.5+ MB

In [5]:
df_dim[['PROVIDER_NUM', 'AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY', 'REPORTED_TOTAL_NURSE_STAFFING_HOURS_PER_RESIDENT_PER_DAY', 'TOTAL_NUMBER_OF_NURSE_STAFF_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND']].head(10)

,PROVIDER_NUM,AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY,REPORTED_TOTAL_NURSE_STAFFING_HOURS_PER_RESIDENT_PER_DAY,TOTAL_NUMBER_OF_NURSE_STAFF_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND
0,015009,53.3,4.29361,3.30871
1,015010,77.5,4.31127,3.37481
2,015012,44.4,4.98828,4.30958
3,015014,72.8,3.29976,2.82980
4,015015,91.8,3.28113,3.19540
5,015016,128.3,4.34344,3.60998
6,015019,98.5,3.11658,2.77381
7,015023,87.4,3.28657,2.81842
8,015024,134.6,3.45490,2.77838
9,015027,114.4,3.84035,3.18619

### Fact Table

In [6]:
# List all Parquet files in folder
files_fact = glob.glob("fact_table/*.parquet")
files_fact

['fact_table\\part-00000-51c5c5ab-5432-480d-8aba-8f34556a4e33-c000.snappy.parquet',
 'fact_table\\part-00001-51c5c5ab-5432-480d-8aba-8f34556a4e33-c000.snappy.parquet',
 'fact_table\\part-00002-51c5c5ab-5432-480d-8aba-8f34556a4e33-c000.snappy.parquet',
 'fact_table\\part-00003-51c5c5ab-5432-480d-8aba-8f34556a4e33-c000.snappy.parquet']

In [7]:
# Read and concatenate them
df_fact = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files_fact], ignore_index=True)
df_fact.head()

,PROVNUM,PROVNAME,CITY,STATE,WORKDATE,MDSCENSUS,HRS_RNDON,HRS_RNDON_EMP,HRS_RNDON_CTR,HRS_RNADMIN,...,HRS_LPN_CTR,HRS_CNA,HRS_CNA_EMP,HRS_CNA_CTR,HRS_NATRN,HRS_NATRN_EMP,HRS_NATRN_CTR,HRS_MEDAIDE,HRS_MEDAIDE_EMP,HRS_MEDAIDE_CTR
0,015009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,20240401,51,10.77,10.77,0.0,10.40,...,0.0,160.08,160.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,015009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,20240402,52,8.43,8.43,0.0,18.25,...,0.0,135.95,135.95,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,015009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,20240403,53,11.13,11.13,0.0,12.08,...,0.0,150.31,150.31,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,015009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,20240404,52,12.27,12.27,0.0,17.53,...,0.0,133.01,133.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,015009,"BURNS NURSING HOME, INC.",RUSSELLVILLE,AL,20240405,52,4.95,4.95,0.0,17.42,...,0.0,137.92,137.92,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Check basic info
df_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325324 entries, 0 to 1325323
Data columns (total 30 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   PROVNUM           1325324 non-null  object
 1   PROVNAME          1325324 non-null  object
 2   CITY              1325324 non-null  object
 3   STATE             1325324 non-null  object
 4   WORKDATE          1325324 non-null  int32
 5   MDSCENSUS         1325324 non-null  int32
 6   HRS_RNDON         1325324 non-null  float64
 7   HRS_RNDON_EMP     1325324 non-null  float64
 8   HRS_RNDON_CTR     1325324 non-null  float64
 9   HRS_RNADMIN       1325324 non-null  float64
 10  HRS_RNADMIN_EMP   1325324 non-null  float64
 11  HRS_RNADMIN_CTR   1325324 non-null  float64
 12  HRS_RN            1325324 non-null  float64
 13  HRS_RN_EMP        1325324 non-null  float64
 14  HRS_RN_CTR        1325324 non-null  float64
 15  HRS_LPNADMIN      1325324 non-null  float64
 16  HRS_LPNADMIN_EMP  1325324 non-null  float64
 17  HRS_LPNADMIN_CTR  1325324 non-null  float64
 18  HRS_LPN           1325324 non-null  float64
 19  HRS_LPN_EMP       1325324 non-null  float64
 20  HRS_LPN_CTR       1325324 non-null  float64
 21  HRS_CNA           1325324 non-null  float64
 22  HRS_CNA_EMP       1325324 non-null  float64
 23  HRS_CNA_CTR       1325324 non-null  float64
 24  HRS_NATRN         1325324 non-null  float64
 25  HRS_NATRN_EMP     1325324 non-null  float64
 26  HRS_NATRN_CTR     1325324 non-null  float64
 27  HRS_MEDAIDE       1325324 non-null  float64
 28  HRS_MEDAIDE_EMP   1325324 non-null  float64
 29  HRS_MEDAIDE_CTR   1325324 non-null  float64
dtypes: float64(24), int32(2), object(4)
memory usage: 293.2+ MB

In [9]:
df_fact[['HRS_MEDAIDE','HRS_MEDAIDE_EMP','HRS_MEDAIDE_CTR']]

         HRS_MEDAIDE  HRS_MEDAIDE_EMP  HRS_MEDAIDE_CTR
0               0.00             0.00              0.0
1               0.00             0.00              0.0
2               0.00             0.00              0.0
3               0.00             0.00              0.0
4               0.00             0.00              0.0
...              ...              ...              ...
1325319        15.60            15.60              0.0
1325320        13.70            13.70              0.0
1325321        17.18            17.18              0.0
1325322        20.92            20.92              0.0
1325323        13.58            13.58              0.0

[1325324 rows x 3 columns]

### dim_bed

In [10]:
# List all Parquet files in folder
files_dim_bed = glob.glob("dim_bed_table/*.parquet")
files_dim_bed

['dim_bed_table\\part-00000-24811470-796c-40fa-a608-5a8ba52f124d-c000.snappy.parquet',
 'dim_bed_table\\part-00001-24811470-796c-40fa-a608-5a8ba52f124d-c000.snappy.parquet',
 'dim_bed_table\\part-00002-24811470-796c-40fa-a608-5a8ba52f124d-c000.snappy.parquet']

In [11]:
# Read and concatenate them
df_dim_bed = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files_dim_bed], ignore_index=True)
df_dim_bed.head()

,PROVIDER_NUM,PROVIDER_NAME,PROVIDER_TYPE,STATE,NUMBER_OF_CERTIFIED_BEDS,AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY,AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY_FOOTNOTE,AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY_TOTAL,BED_UTILIZATION_RATE
0,245455,GOOD SAMARITAN SOCIETY - JACKSON,Medicare and Medicaid,MN,46,37.6,0,37.6,81.74
1,245458,ESSENTIA HEALTH VIRGINIA CARE CENT,Medicare and Medicaid,MN,40,20.7,0,20.7,51.75
2,245459,THE GARDENS AT WINSTED LLC,Medicare and Medicaid,MN,70,40.4,0,40.4,57.71
3,245460,JONES HARRISON RESIDENCE,Medicare and Medicaid,MN,120,104.2,0,104.2,86.83
4,245461,EVENTIDE LUTHERAN HOME,Medicare and Medicaid,MN,145,116.8,0,116.8,80.55

In [12]:
# Check basic info
df_dim_bed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14814 entries, 0 to 14813
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   PROVIDER_NUM                                  14814 non-null  object
 1   PROVIDER_NAME                                 14814 non-null  object
 2   PROVIDER_TYPE                                 14814 non-null  object
 3   STATE                                         14814 non-null  object
 4   NUMBER_OF_CERTIFIED_BEDS                      14814 non-null  int32
 5   AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY           14814 non-null  float64
 6   AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY_FOOTNOTE  14814 non-null  int32
 7   AVERAGE_NUMBER_OF_RESIDENTS_PER_DAY_TOTAL     14814 non-null  float64
 8   BED_UTILIZATION_RATE                          14814 non-null  float64
dtypes: float64(3), int32(2), object(4)
memory usage: 926.0+ KB

### dim_nurse

In [13]:
# List all Parquet files in folder
files_dim_nurse = glob.glob("dim_nurse_table/*.parquet")
files_dim_nurse

['dim_nurse_table\\part-00000-4e0acfe1-3284-4d8e-afd9-9afb612c9110-c000.snappy.parquet',
 'dim_nurse_table\\part-00001-4e0acfe1-3284-4d8e-afd9-9afb612c9110-c000.snappy.parquet',
 'dim_nurse_table\\part-00002-4e0acfe1-3284-4d8e-afd9-9afb612c9110-c000.snappy.parquet']

In [14]:
# Read and concatenate them
df_dim_nurse = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files_dim_nurse], ignore_index=True)
df_dim_nurse.head()

,PROVIDER_NUM,PROVIDER_NAME,PROVIDER_TYPE,STATE,REPORTED_NURSE_AIDE_STAFFING_HOURS_PER_RESIDENT_PER_DAY,REPORTED_LPN_STAFFING_HOURS_PER_RESIDENT_PER_DAY,REPORTED_RN_STAFFING_HOURS_PER_RESIDENT_PER_DAY,REPORTED_TOTAL_NURSE_STAFFING_HOURS_PER_RESIDENT_PER_DAY,TOTAL_NUMBER_OF_NURSE_STAFF_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND,REGISTERED_NURSE_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND,NURSE_AIDE_TO_PATIENT_RATE,LPN_TO_PATIENT_RATE,RN_TO_PATIENT_RATE,NURSE_TO_PATIENT_RATE
0,245455,GOOD SAMARITAN SOCIETY - JACKSON,Medicare and Medicaid,MN,2.21372,0.76410,0.80167,3.77950,3.24578,0.46425,2.51,1.47,0.71,3.63
1,245458,ESSENTIA HEALTH VIRGINIA CARE CENT,Medicare and Medicaid,MN,1.84014,0.78659,1.37566,4.00239,3.13522,0.76766,2.21,1.46,1.20,3.75
2,245459,THE GARDENS AT WINSTED LLC,Medicare and Medicaid,MN,2.18427,0.16251,1.07798,3.42476,2.94668,0.77135,2.40,0.96,0.99,3.29
3,245460,JONES HARRISON RESIDENCE,Medicare and Medicaid,MN,2.92315,0.13304,0.40796,3.46415,3.41806,0.35243,3.06,1.07,0.39,3.45
4,245461,EVENTIDE LUTHERAN HOME,Medicare and Medicaid,MN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00,0.00,0.00,0.00

In [15]:
# Check basic info
df_dim_nurse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14814 entries, 0 to 14813
Data columns (total 14 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   PROVIDER_NUM                                                           14814 non-null  object
 1   PROVIDER_NAME                                                          14814 non-null  object
 2   PROVIDER_TYPE                                                          14814 non-null  object
 3   STATE                                                                  14814 non-null  object
 4   REPORTED_NURSE_AIDE_STAFFING_HOURS_PER_RESIDENT_PER_DAY                14814 non-null  float64
 5   REPORTED_LPN_STAFFING_HOURS_PER_RESIDENT_PER_DAY                       14814 non-null  float64
 6   REPORTED_RN_STAFFING_HOURS_PER_RESIDENT_PER_DAY                        14814 non-null  float64
 7   REPORTED_TOTAL_NURSE_STAFFING_HOURS_PER_RESIDENT_PER_DAY               14814 non-null  float64
 8   TOTAL_NUMBER_OF_NURSE_STAFF_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND  14814 non-null  float64
 9   REGISTERED_NURSE_HOURS_PER_RESIDENT_PER_DAY_ON_THE_WEEKEND             14814 non-null  float64
 10  NURSE_AIDE_TO_PATIENT_RATE                                             14814 non-null  float64
 11  LPN_TO_PATIENT_RATE                                                    14814 non-null  float64
 12  RN_TO_PATIENT_RATE                                                     14814 non-null  float64
 13  NURSE_TO_PATIENT_RATE                                                  14814 non-null  float64
dtypes: float64(10), object(4)
memory usage: 1.6+ MB

### fact_staff

In [17]:
# List all Parquet files in folder
files_fact_staff = glob.glob("fact_staff_table/*.parquet")
files_fact_staff

['fact_staff_table\\part-00000-84a04bca-216e-4c5e-b842-ef1955813a4c-c000.snappy.parquet',
 'fact_staff_table\\part-00001-84a04bca-216e-4c5e-b842-ef1955813a4c-c000.snappy.parquet',
 'fact_staff_table\\part-00002-84a04bca-216e-4c5e-b842-ef1955813a4c-c000.snappy.parquet',
 'fact_staff_table\\part-00003-84a04bca-216e-4c5e-b842-ef1955813a4c-c000.snappy.parquet']

In [27]:
# Read and concatenate them
df_fact_staff = pd.concat([pd.read_parquet(f, engine="fastparquet") for f in files_fact_staff], ignore_index=True)
df_fact_staff.head()

,PROVNUM,PROVNAME,CITY,WORKDATE,MDSCENSUS,HRS_RNDON_EMP,HRS_RNDON_CTR,HRS_RNADMIN_EMP,HRS_RNADMIN_CTR,HRS_RN_EMP,...,HRS_MEDAIDE_EMP,HRS_MEDAIDE_CTR,STAFF_RATIO_RNDON,STAFF_RATIO_RNADMIN,STAFF_RATIO_RN,STAFF_RATIO_LPNADMIN,STAFF_RATIO_LPN,STAFF_RATIO_CNA,STAFF_RATIO_NATRN,STAFF_RATIO_MEDAIDE
0,285189,GOOD SAMARITAN SOCIETY - ST JOHNS,KEARNEY,20240408,47,8.0,0.0,0.0,0.0,24.16,...,45.12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,285189,GOOD SAMARITAN SOCIETY - ST JOHNS,KEARNEY,20240409,46,8.0,0.0,4.0,0.0,21.48,...,29.86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,285189,GOOD SAMARITAN SOCIETY - ST JOHNS,KEARNEY,20240410,46,8.0,0.0,0.0,0.0,37.12,...,29.24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,285189,GOOD SAMARITAN SOCIETY - ST JOHNS,KEARNEY,20240411,46,8.0,0.0,0.0,0.0,23.10,...,39.65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,285189,GOOD SAMARITAN SOCIETY - ST JOHNS,KEARNEY,20240412,46,8.0,0.0,0.0,0.0,16.65,...,29.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# Check basic info
df_fact_staff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325324 entries, 0 to 1325323
Data columns (total 29 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   PROVNUM               1325324 non-null  object
 1   PROVNAME              1325324 non-null  object
 2   CITY                  1325324 non-null  object
 3   WORKDATE              1325324 non-null  int32
 4   MDSCENSUS             1325324 non-null  int32
 5   HRS_RNDON_EMP         1325324 non-null  float64
 6   HRS_RNDON_CTR         1325324 non-null  float64
 7   HRS_RNADMIN_EMP       1325324 non-null  float64
 8   HRS_RNADMIN_CTR       1325324 non-null  float64
 9   HRS_RN_EMP            1325324 non-null  float64
 10  HRS_RN_CTR            1325324 non-null  float64
 11  HRS_LPNADMIN_EMP      1325324 non-null  float64
 12  HRS_LPNADMIN_CTR      1325324 non-null  float64
 13  HRS_LPN_EMP           1325324 non-null  float64
 14  HRS_LPN_CTR           1325324 non-null  float64
 15  HRS_CNA_EMP           1325324 non-null  float64
 16  HRS_CNA_CTR           1325324 non-null  float64
 17  HRS_NATRN_EMP         1325324 non-null  float64
 18  HRS_NATRN_CTR         1325324 non-null  float64
 19  HRS_MEDAIDE_EMP       1325324 non-null  float64
 20  HRS_MEDAIDE_CTR       1325324 non-null  float64
 21  STAFF_RATIO_RNDON     1325324 non-null  float64
 22  STAFF_RATIO_RNADMIN   1325324 non-null  float64
 23  STAFF_RATIO_RN        1325324 non-null  float64
 24  STAFF_RATIO_LPNADMIN  1325324 non-null  float64
 25  STAFF_RATIO_LPN       1325324 non-null  float64
 26  STAFF_RATIO_CNA       1325324 non-null  float64
 27  STAFF_RATIO_NATRN     1325324 non-null  float64
 28  STAFF_RATIO_MEDAIDE   1325324 non-null  float64
dtypes: float64(24), int32(2), object(3)
memory usage: 283.1+ MB